<ng-container *ngIf='resource && prop'>
  <app-string-field *ngIf='prop.propType == "string"' [prop]='prop' [resource]='resource' (onChanged)='onChanged.emit($event)'></app-string-field>
  <app-date-time-field *ngIf='prop.propType == "date"' [prop]='prop' [resource]='resource' (onChanged)='onChanged.emit($event)'></app-date-time-field>
  <app-number-field *ngIf='prop.propType == "number"' [prop]='prop' [resource]='resource' (onChanged)='onChanged.emit($event)'></app-number-field>
  <app-bool-field *ngIf='prop.propType == "boolean"' [prop]='prop' [resource]='resource' (onChanged)='onChanged.emit($event)'></app-bool-field>
  <p>{{prop.propType}}</p>
</ng-container>
