limesz_app/.idea/.idea.limesz_app/.idea/sonarlint/securityhotspotstore/e/a/ea1f69eb74ad0e0c8b6164e0868fa1b5c93c5174
limesz_app/.idea/
limesz_app/pluto_data/bin/
limesz_app/pluto/bin/
limesz_app/packages/
