<div class='ml-4' style='margin-left: 15px'>
  <h6 class='text-white'>{{prop.propName}}</h6>

  <button mat-raised-button color="primary" (click)="addItem()">Add Item {{innerTypeName}}</button>

  <div class='d-flex flex-column'>
    <div class='d-flex' *ngFor="let item of resource[prop.jsAccessor]; let i = index">
      <app-dynamic-prop-field [prop]='getListElementProp(i)' [resource]='resource[prop.jsAccessor]' (onChanged)='complexChange($event.path, $event.value)' ></app-dynamic-prop-field>
      <button mat-raised-button color="warn" (click)="removeItem(i)">Remove</button>
    </div>
  </div>
</div>
