<div class="centered-panel-root">
  <div class="centered-rounded-panel" style="width: 330px; height: 250px">
    <mat-tab-group style="height: 100%; justify-content: stretch" [preserveContent]="true">
      <mat-tab label="Create">
        <div class="d-flex flex-column" style="margin-top: 65px">
          <app-big-button (click)="createLobby()">
            New lobby
          </app-big-button>
        </div>
      </mat-tab>
      <mat-tab label="Join">
        <div class="d-flex flex-column mt-2">
          <input type="text" (keypress)="forceKeyPressUppercase($event)" [(ngModel)]="joinCode" placeholder="Lobby code" class="input-field" style="text-align: center">
          <app-big-button (click)="joinLobby()">
            Join lobby
          </app-big-button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
