<ng-container *ngIf="!loading && !user">
  <div class="centered-panel-root">
    <div class='panel'>
      <div class="d-flex flex-column">
        <h1>LIMESZ 🤪</h1>
        <h3>Login</h3>
        <div class="d-flex flex-column">
          <input type="email" [(ngModel)]="email" placeholder="Email">
          <input type="password" [(ngModel)]="password" placeholder="Password">
          <button class="primary disabled" (click)="loginWithEmailPassword()">Login</button>
        </div>
        <hr>
        <button class="primary disabled" (click)="loginWithGoogle()">Login with Google</button>
        <button class="primary" (click)="loginAnonymously()">Login Anonymously</button>
      </div>
    </div>
  </div>
</ng-container>
<ng-content *ngIf="user"></ng-content>
