<div class='d-flex justify-content-center' style="overflow: auto; width: 100vw">
  <div class='d-flex'>
    <div
      *ngFor="let card of cards; let i = index"
      [ngStyle]="{'zIndex': i + 5}"
      class='card-container'
      [ngClass]='{"clickable": rideService.isMyTurn}'
      style="height: 250px; width: 160px; background: white; border-radius: 8px; border: solid 1px black; margin-left: -30px;">
      <app-card (click)='playCard(card)' [card]='card'></app-card>
    </div>
  </div>
</div>
