<div class='container text-white' *ngIf='resource'>

  <div class='d-flex flex-column'>
    <div *ngFor='let prop of resourceDefinition.props'>
      <app-dynamic-prop-field [prop]='prop' (onChanged)='registerChange(prop.jsAccessor, $event)' [resource]='resource'></app-dynamic-prop-field>
    </div>
  </div>

  <app-generic-button [color]='"red"' [Action]='removeResource'>Delete</app-generic-button>
  <app-generic-button [color]='"blue"' [Action]='updateResource'>Update</app-generic-button>


  <div class='row' *ngIf='false'>
    <div class='col-md-12'>
      <h1>404</h1>
      <p>Page not found</p>
    </div>
  </div>
</div>
