<app-fader *ngIf="(loadingService.loading | async) && !loadingService.initialLoading" [isVisible]="true"></app-fader>
<div class="loader-position" *ngIf="(loadingService.loading | async) && !loadingService.initialLoading">

  <mat-progress-spinner  diameter="80" strokeWidth="5" mode="indeterminate" ></mat-progress-spinner>
</div>

<div style="position: fixed; height: 100%; width: 100%; background: #2a0c55; z-index: 1000" *ngIf="loadingService.initialLoading">
  <div class="d-flex flex-column justify-content-evenly align-items-center h-100">
    <img style="height: 25%" src="/assets/limlogo.png">
    <mat-progress-spinner color="accent"  diameter="40" mode="indeterminate" ></mat-progress-spinner>
    <p style="color: white">Starting app</p>
  </div>
</div>
