.primary {
  background-color: rgba(255, 255, 255, 0.51);
  border-radius: 35px;
  border: solid #4f1596 3px;
  color: #4f1596;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}

.primary.disabled {
  background-color: rgba(255, 255, 255, 0.51);
  opacity: 0.5;
  cursor: default;
}

