<div class='position-relative' style='width: 100vw; height: 100vh; background: #2a0c55; overflow: hidden'>
  <div class='position-absolute' style='right: 25px; top: 25px'>
    <app-icon-button [icon]='faArrowRightFromBracket' color='white' routerLink='/menu/lobby'></app-icon-button>
  </div>
  <div class='position-absolute' style='top: 30px; left: 50%; transform: translate(-50%, -50%); color: white'>
    <p>Current color: {{this.rideService.ride$.value?.game?.currentColor}}:</p>
  </div>
  <div class='position-absolute' style='top: 15px; left: 15px; '>
    <app-in-game-player-list></app-in-game-player-list>
  </div>
  <div class='position-absolute' style='top: 15%; left: 50%; transform: translateX(-50%); width: 100%'>
    <app-decks [decks]='rideService.decks'></app-decks>
  </div>
  <div class='position-absolute' style='bottom: 20px; left: 50%; transform: translateX(-50%)'>
    <app-my-cards [cards]='rideService.meAsPlayer?.cards??[]'></app-my-cards>
  </div>
</div>
